.cabecalho {
  padding: 24px 40px 0 48px;
  display: flex;
  justify-content: space-between;
  img {
    width: 160px;
    border-radius: 45px;
    margin: 0;
    cursor: pointer;
  }
  button {
    font-size: 24px;
    padding: 18px 18px;
  }
}
