.container {
  margin: 12px 36px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.lista__vazia {
  font-size: 32px;
  color: #FFF;
  height: 70vh;
  display: flex;
  align-items: center;
}