.container {
  margin: 12px 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  @media screen {
    @media (max-width: 600px) {
      margin: 12px 12px;
      min-width: 430px;
    }
  }
}
.lista__vazia {
  font-size: 32px;
  color: #FFF;
  height: 70vh;
  display: flex;
  align-items: center;
}