.card__heroi {
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 0 rgba($color: #000000, $alpha: 0.6);
  padding: 16px 24px;
  border-radius: 12px;
  margin-bottom: 24px;
  gap: 16px;
  background-color: #F1F1F1;
  height: 440px;
  width: 300px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .dados__pessoais {
    width: 100%;
    li {
      display: flex;
      gap: 8px;
      font-size: 16px;
      line-height: 28px;
      strong {
        font-weight: 600;
      }
    }
  }
  .poderes {
    width: 100%;
    .poderes__lista {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 160px;
      li {
        font-size: 16px;
      }
    }
  }
  p {
    font-size: 24px;
    font-weight: 600;
  }
  .acoes {
    display: flex;
    gap: 16px;
    height: 100%;
    justify-content: end;
    align-items: end;
    .icon {
      cursor: pointer;
      width: 30px;
    }
  }
}